[Desktop Entry]
Name=Hello GTK
GenericName=Hello GTK Application
Comment=First application created for Elementary OS with GTK and Vala
Categories=Utility;Education;
Exec=com.github.giacomoalbe.hellogtk
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Hello;GTK;
